doctype html
html
  head
      block head
        title="Listen Up Express Starter App"
        link(rel='stylesheet' href='/stylesheets/layout.css')
        link(rel='stylesheet' href='/stylesheets/podcast-list.css')
        script(src="/javascripts/formInputs.js" type="module")
        script(src="/javascripts/navbarInputs.js" type="module")
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.1/css/all.css' integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp' crossorigin='anonymous')
        link(rel='stylesheet' href='/stylesheets/podcast.css')
  body
        if locals.authenticated
          nav(class="navbar_container")
            span(class='') Welcome #{user.firstName}!
            form(class='' action='/users/logout' method='POST')
              button(class='form_container-logout-button' type='submit') Logout
        else
          section(class="body_container")
            section(class="navbar_main-section")
              nav(class="main_section-container")
                h1(class="navbar_conatiner-logo-h1")
                  span(class="navbar_container-logo-light") Listen
                  span(class="navbar_container-logo-bold") up
                div(class="navbar_buttons")
                  button(class="form_container-demo-button")  
                    a(href="/users/login" class="form_container-demo-login-text") Login
                div
                  a(href="/users/login-demo" class="form_container-demo-button-text" button class="form_container-demo-button") Continue as a Demo User
                    i(class="fas fa-headphones form_container-demo-button-text")
        block content