extends layout.pug
include utils.pug


block content
    link(rel='stylesheet' href='/stylesheets/reset.css')
    link(rel='stylesheet' href='/stylesheets/playlist.css')
    body
        div(class="playlists-page")    
            div(class="sidebar-container")
                div(class="sidebar-container__playlists")
                    h2(class="sidebar-container__playlists-title") Playlists
                    div(class="sidebar-container__playlists-selections")
                        //- on render, populate this
                        div(class="playlist__wrapper")
                            div(class="playlist-1") My First Playlist
                        div(class="playlist__wrapper")
                            div(class="playlist-2") Currently Listening
                        div(class="playlist__wrapper")
                            div(class="playlist-3") Want to listen
                        div(class="playlist__wrapper")
                            div(class="playlist-4") Listened
                    //- For each playlist, create a selector
                    //- example playlist for now
                        
                        
            div(class="main-container")
                div(class="main-container__playlist-content")
                    //- use ajax to populate this when a button is clicked
                    //- format to this:
                    div(class="podcast__wrapper")
                        div(class="podcast-img__wrapper")
                            a(class="podcast-img")
                        div(class="podcast-header")
                            h3(class="podcast-title") title
                            h4(class="podcast-host") host
                        p(class="podcast-description") loren ipusum etc yeethagang
                    