extends layout.pug

block content
  div(class="mainContentContainer")
    div(class="mainContent")
    h1 All Podcasts
    div(class="podcastRow")
      each podcast in podcasts
       div(class='podcastRow_item')
         h2= podcast.title