extends user-auth-layout.pug
include utils.pug


block content
    body
    div(class="review_edit-container register-container")
       section(class="form_container")
           a(class="form_title" href="/")
               span(class="form_container-logo-light") Listen
               span(class="form_container-logo-bold") up
           h1(class="form_container-form-title") Edit Review
               i(class="fas fa-headphones form_container-demo-button-text")
           div(class="form_container-divider")
                 form(class="form_container-form" action=`/podcasts/${podcastId}/reviews/${existingReview.id}` method='POST')
                  textarea(class="review_edit" name="newReview" rows="8")= existingReview.content
                  button(class="form_container-form-button" type='submit') Save
