extends user-auth-layout.pug
include utils.pug

block content
    body
        section(class="form_container")
                a(class="form_title" href="/")
                    span(class="form_container-logo-light") Listen
                    span(class="form_container-logo-bold") up
                h1(class="form_container-form-title") log in to Listenup
                a(href="/users/login-demo" class="form_container-demo-button-text" button class="form_container-demo-button") Continue as a Demo User
                    i(class="fas fa-headphones form_container-demo-button-text")
                div(class="form_container-divider")
                    hr(class="form_container-hr-right")
                    span(class="form_container-divider-text") or
                    hr(class="form_container-hr-left")
                +validationErrors(errors)
                form(class="form_container-form" action='/users/login' method='POST')
                    input(class="form_container-form-input" type='hidden' name='_csrf' value=csrfToken)
                    +field('Email Address', 'email', email)
                    label(class="form_container-form-input-label" for="password") Password
                    input(class="form_container-form-input" type="password" id="password" name="password")
                    button(class="form_container-form-button" type='submit') Sign in
                div(class="form_container-divider")
                    span(class="form_container-divider-text") Not a member?
                        a(class="form_container-divider-a-text" href="/users/register") Sign up
