body {
    height: 100vh;
    margin: 10px;
    padding: 20px;
}
.error-div {
    background-color: white;
    background-image: url("../CautionTape-big.png");
    background-size: cover;
    background-repeat: no-repeat;
    background: cover;
    height: 100%;
}

.form_container-demo-button-login {
    margin: 15px 5px;
    width: 100px;
    background-color: #eacf86;
    border-radius: 3px;
    border: 1px solid #d6d0c4;
    cursor: pointer;
    color: #98751a;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 10px;
}

