@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: white;
    height: auto;
}

.main_section-nav {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #e9e5cd;
}

.main_section-header {
    display: flex;
    justify-content: center;
    margin: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3crect width='3840' height='560' x='0' y='0' fill='rgba(221%2c 174%2c 53%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c476.112C89.775%2c472.887%2c179.359%2c443.973%2c248.345%2c386.432C313.421%2c332.152%2c338.289%2c247.488%2c368.856%2c168.451C397.686%2c93.906%2c418.172%2c19.306%2c421.215%2c-60.562C424.812%2c-154.974%2c439.843%2c-257.235%2c388.084%2c-336.276C334.511%2c-418.087%2c239.527%2c-472.373%2c142.678%2c-485.915C50.421%2c-498.815%2c-29.83%2c-432.203%2c-119.583%2c-407.261C-211.082%2c-381.834%2c-323.446%2c-405.685%2c-389.956%2c-337.899C-456.706%2c-269.868%2c-454.94%2c-160.727%2c-454.99%2c-65.418C-455.035%2c20.349%2c-423.074%2c98.983%2c-390.227%2c178.211C-356.19%2c260.307%2c-330.724%2c350.77%2c-260.083%2c404.697C-187.145%2c460.378%2c-91.703%2c479.406%2c0%2c476.112' fill='%2398751a'%3e%3c/path%3e%3cpath d='M1440 1149.821C1550.692 1154.05 1646.676 1085.99 1743.807 1032.734 1848.026 975.591 1980.001 937.241 2026.899 828.028 2073.7290000000003 718.975 2005.434 598.297 1980.158 482.337 1956.8229999999999 375.284 1950.24 262.49 1884.519 174.822 1816.307 83.832 1712.807 31.538999999999987 1608.41-13.552999999999997 1491.939-63.860000000000014 1371.019-122.07899999999995 1245.909-101.01400000000001 1114.875-78.95100000000002 976.738-13.183999999999969 913.179 103.507 850.879 217.88799999999998 939.525 356.56 926.116 486.115 913.502 607.994 789.169 722.559 837.451 835.175 885.555 947.376 1042.542 953.567 1150.754 1010.075 1247.633 1060.664 1330.788 1145.6480000000001 1440 1149.821' fill='%23ebcf87'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-size: cover;
}
.main_section-image {
    margin-top: 75px;
    z-index: 1;
}

.main_section-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    z-index: 20;
    overflow: hidden;
    position: relative;
}

.main_section-footer {
    width: 100%;
    margin: 0;
}

.main_section-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.form_container-demo-button {
    margin: 15px 0px;
    width: 100px;
    background-color: #eacf86;
    border-radius: 3px;
    border: 1px solid #d6d0c4;
    cursor: pointer;
    color: #98751a;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.form_container-demo-button-signup {
    font-family: "Lato", sans-serif;
    border-radius: 3px;
    border: 1px solid #335d2d;
    cursor: pointer;
    color: white;
    background-color: #32372D;
    padding: 10px 14px;
    font-weight: 800;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form_container-demo-button-signup:hover {
    background-color: #3a4e0a;
}

.form_container-demo-button-login {
    margin: 15px 5px;
    width: 100px;
    background-color: #eacf86;
    border-radius: 3px;
    border: 1px solid #d6d0c4;
    cursor: pointer;
    color: #98751a;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.form_container-demo-button:hover {
    background-color: #ddaf36;
    color: #777e1f;
}

.form_container-demo-button-login:hover {
    background-color: #ddaf36;
    color: #777e1f;
}

.form_container-form-index {
    justify-content: center;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    font-size: 1.5rem;
    width: 465px;
    margin-bottom: 0;
    background-color: #e9e5cd;
    z-index: 20;
    overflow: hidden;
    position: relative;
}

.form_container-form-input-label {
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
    font-size: 0.75rem;
    font-weight: 600;
    color: #5f5c5c;
}

.form_container-form-input {
    background-color: #c4c4c4;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    text-align: left;
    width: 300px;
    border: 1px solid #c4c4c4;
    color: rgba(67, 71, 85, 0.27);
    border-radius: 3px;
    /* padding-left: 20px; */
}

.form_container-form-title {
    margin-right: 150px;
    font-size: 1.5rem;
    color: #553b08;
}

.form_container-form-button {
    font-family: "Lato", sans-serif;
    border-radius: 3px;
    border: 1px solid #d6d0c4;
    cursor: pointer;
    color: #e9e5cd;
    background-color: #777e1f;
    margin: 10px;
    font-weight: 800;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.form_container-form-button:hover {
    background-color: #3a4e0a;
}

.home_content_container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    z-index: 100;
}

.podcast_table {
    width: 100%;
    z-index: 2;
    background: #E9E5CD;
    padding: 40px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.podcast_table-image {
    border: .5px solid #777e1f;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.podcast_table-title{
    color: #9A761B;
    margin-top: 0;
    font-size: 3rem;
    font-weight: 300;
}

.td_line {
    border-bottom: 1px solid rgba(109, 109, 109, 0.123);
}

.podcast-table-header {
    color: #553B08;
    font-weight: 700;
}

.podcast_rec-div {
    width: 100%;
    display: flex;
    justify-content: right;
}

.podcast_rec {
    position: absolute;
    margin-left: 10%;
    width: 23.5%;
    background: #E9E5CD;
    padding: 40px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    height: 500px;
}

.rec-title {
    color: white;
}

.rec-image {
    position: absolute;
    width: 120px;
    height: 300px;
    z-index: 1;
    overflow: hidden;
    bottom: 0;
    margin-top: 500px;
}

.header-image {
    position: absolute;
    width: 600px;
    height: 600px;
    z-index: 1;
    margin-right: 300px;
}

/* *******************************     reference file  ************************************************ */

.content_container-home {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.content_container-text {
    color: rgb(62, 113, 114);
    font-size: 1.5rem;
    margin-bottom: 0;
    width: 50%;
}

.content_container-header {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.content_container-para {
    font-size: 0.9rem;
    font-weight: 300;
}

.row {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.table {
    border-collapse: collapse;
}

td,
th {
    padding: 15px;
}

.by {
    font-size: 0.75rem;
}

.author-host {
    font-weight: 600;
    color: #616161;
}

.rating {
    color: rgb(223, 94, 8);
}

.box {
    width: 434.5px;
    height: 400px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: white;
    padding-top: 50px;
}

.content {
    align-self: center;
    width: 70%;
    display: flex;
}

.nave2box {
    align-self: center;
    display: flex;
    width: 70%;
}

.mininav {
    padding-top: 5px;
    margin-right: 10px;
    color: darkgray;
    font-weight: 900;
}

.mininav:hover {
    color: rgb(98, 98, 98);
}

.main_section-footer {
    width: 100%;
    background-color: #32372D;
    margin: 0;
    display: flex;
    justify-content: center;
    bottom: 0;
    position: relative;
}

.main_section-container-footer {
    display: flex;
    width: 80%;
    background-color: #32372D;
    justify-content: center;
    align-self: center;
}
.footer-icon {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: large;
    color: #e9e5cd;
}


@media only screen and (max-width: 600px) {

    .main_section-header {
        background: #e9e5cd;
    }
    .form_container-demo-button {
        margin: 15px 0px;
        width: 75px;
        background-color: #eacf86;
        border-radius: 3px;
        border: 1px solid #d6d0c4;
        cursor: pointer;
        color: #98751a;
        font-weight: 600;
        font-family: "Lato", sans-serif;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
            rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }
    
    .form_container-demo-button-login {
        margin: 15px 5px;
        width: 75px;
        background-color: #eacf86;
        border-radius: 3px;
        border: 1px solid #d6d0c4;
        cursor: pointer;
        color: #98751a;
        font-weight: 600;
        font-family: "Lato", sans-serif;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
            rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }
}
