@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
    font-family: "Lato", sans-serif;
    background-color: white;
    margin: 0;
}
.navbar_main-section {
    position: fixed;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #e9e5cd;
    align-items: center;
    max-height: 45;
    margin-bottom: 8rem;
}

.links {
    display: flex;
    width: 100%;
    align-items: center;
}
.link {
    margin-right: 01rem;
    margin-left: 2rem;
}

.link a {
    text-decoration: none;
}

.main_section-nav {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #e9e5cd;
}

.navbar_container {
    position: fixed;
    background-color: #e9e5cd;
    width: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_conatiner-logo-h1 {
    padding-bottom: 5px;
    text-decoration: none;
}

.navbar_container-logo-light {
    font-size: 1rem;
    color: #553b08;
    font-weight: 100;
    text-decoration: none;
}

.navbar_container-logo-bold {
    font-size: 1rem;
    color: #553b08;
    font-weight: 200;
    text-decoration: none;
}

.main_section-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.form_container-demo-button-login {
    margin: 15px 5px;
    width: 100px;
    background-color: #eacf86;
    border-radius: 3px;
    border: 1px solid #d6d0c4;
    cursor: pointer;
    color: #98751a;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.navbar_buttons {
    width: 350px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.form_container-demo-button:hover {
    background-color: #ddaf36;
    color: #777e1f;
}

.form_container-demo-login-text {
    text-decoration: none;
    color: darkgoldenrod;
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 600px) {
    .form_container-form {
        justify-content: center;
        text-align: left;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        font-size: 1.5rem;
        width: 100vw;
        margin-bottom: 0;
    }

    .main_section_header {
        width: 100%;
    }
}
