@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
    font-family: "Lato", sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.navbar_main-section {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #e9e5cd;
}

.main_section-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

/* Laptap */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* Table */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}


.navbar_container {
    background-color: #e9e5cd;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar_conatiner-logo-h1 {
    margin-top: 5px;

    padding-top: 13px;
    padding-bottom: 5px;
}

.navbar_conatiner-logo {
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0rem;
}

.navbar_container-logo-light {
    font-size: 3rem;
    color: #553b08;
    font-weight: 200;
}

.navbar_container-logo-bold {
    font-size: 3rem;
    color: #553b08;
    font-weight: 400;
}

.navbar_buttons {
    display: flex;
    justify-content: flex-end;
}

.form_container-demo-button {
    margin-left: 20px !important;
    padding-top: 2px !important;
    background-color: #eacf86;
    border-radius: 3px;
    border: 1px solid #d6d0c4;
    cursor: pointer;
    color: #98751a;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.form_container-demo-button:hover {
    background-color: #ddaf36;
    color: #777e1f;
}

.form_container-demo-login-text {
    text-decoration: none;
    color: darkgoldenrod;
}


.form_container-logout-button {
    margin-left: 20px !important;
    padding-top: 2px !important;
    background-color: #eacf86;
    border-radius: 3px;
    border: 1px solid #d6d0c4;
    cursor: pointer;
    color: #98751a;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}