.form_container-logout-btn {
    margin: 15px 0px;
    padding: 10px 10px;
    width: 100px;
    background-color: #eacf86;
    border-radius: 3px;
    border: 1px solid #d6d0c4;
    cursor: pointer;
    color: #98751a;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.nav_bar-welcome-text {
    margin-right: 25px;
    align-self: center;
    border-right: 1px solid black;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #eacf86;
}
