.review_edit-container {
	display: flex;
	justify-content: center;
}

#edit_page {
	display: flex;
	align-self: flex-start;
}

.review_edit {
	background-color: #e9e5cd;
	height: 70%;
	width: 500px;
	font-family: "Lato", sans-serif;
	border-radius: 5px;
}
.review_edit:focus {
	outline: none;
	border: 2px solid #777e20;
	border-radius: 5px;
}
#save {
	margin-top: 3px;
	margin-right: 70%;
	align-self: flex-start;
}
